<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="About Us Redirect" stopProcessing="true">
          <match url="^about-us/?$" />
          <action type="Redirect" url="/about" redirectType="Permanent" />
        </rule>
        <rule name="Service Detail Redirect" stopProcessing="true">
          <match url="^service-detail/?$" />
          <action type="Redirect" url="/digital-marketing-agency-in-dubai" redirectType="Permanent" />
        </rule>
        <rule name="Jaipur Subservice Redirect" stopProcessing="true">
          <match url="^in/digital-marketing-services-in-jaipur.*[&#34;&gt;].*" />
          <action type="Redirect" url="/in/digital-marketing-services-in-jaipur" redirectType="Permanent" />
        </rule>
        <rule name="Remove Trailing Slash" stopProcessing="true">
          <match url="^(.+)/+$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Rewrite to Pre-rendered HTML" stopProcessing="true">
          <match url="^(.+?)/?$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{DOCUMENT_ROOT}/{R:1}.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.html" />
        </rule>
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
  </system.webServer>
</configuration>
